#nav {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    height: 72px;
    .img {
      display: grid;
      place-items: center;
    }
  }

  .navbar {
    .navbar-items {
      display: flex;
      justify-content: space-between;
      gap: 67px;
      height: 100%;
      .navbar-item {
        &.active {
          color: #000;
        }
        display: grid;
        place-items: center;
        height: 100%;
        text-transform: uppercase;
        font-size: 0.9rem;
        color: #fff;
        font-weight: 600;
        position: relative;

        //Dropdown
        .dropdown {
          position: absolute;
          top: 75px;
          right: -1px;
          background-color: #000;
          padding: 31px 61px 30px 18px;
          transition: all 0.4s;
          visibility: hidden;
          transform: translateY(0);
        }

        &:hover {
          .dropdown {
            transition: all 0.4s;
            transform: translateY(-20px);
            visibility: visible;
          }
        }
        .nav-link {
          transition: all 0.4s;
          display: grid;
          place-items: center;
          height: 100%;
          &:hover {
            color: #000;
            transition: all 0.4s;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  #nav {
    .navbar-items {
      display: none !important;
    }
    .burger-menu {
      place-items: center;
      display: grid;
      height: 100%;
    }
  }
}

@media only screen and (min-width: 992px) {
  #nav {
    .burger-menu {
      display: none;
    }
  }
}
